src/main/resources/wsdl/LoanContract.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="LoanContract"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="urn:com:westbank:ws:business:LoanContract:2019:01"
                  targetNamespace="urn:com:westbank:ws:business:LoanContract:2019:01">

  <wsdl:types>
    <xsd:schema targetNamespace="urn:com:westbank:ws:business:LoanContract:2019:01"
                xmlns="urn:com:westbank:ws:business:LoanContract:2019:01"
                elementFormDefault="qualified">

      <xsd:element name="LoanContractRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="loanFileId" type="xsd:string"/>
            <xsd:element name="staffId" type="xsd:string"/>
            <xsd:element name="staffRole" type="xsd:string"/>
            <xsd:element name="agencyCode" type="xsd:string"/>
            <xsd:element name="settlementDate" type="xsd:date"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="LoanContractResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="loanContractId" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="LoanContractRequest">
    <wsdl:part element="tns:LoanContractRequest" name="request"/>
  </wsdl:message>
  <wsdl:message name="LoanContractResponse">
    <wsdl:part element="tns:LoanContractResponse" name="response"/>
  </wsdl:message>

  <wsdl:portType name="LoanContract">
    <wsdl:operation name="create">
      <wsdl:input message="tns:LoanContractRequest"/>
      <wsdl:output message="tns:LoanContractResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="LoanContractSOAP" type="tns:LoanContract">
    <soap:binding style="document"
                  transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="create">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="LoanContract">
    <wsdl:port binding="tns:LoanContractSOAP" name="LoanContractPort">
      <soap:address location="http://localhost:9999/services/LoanContract"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
